<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/styles.css"/>
    <title>Fiche de Frodon Saquet</title>
</head>
<body>
    <header>
        <h1>FRODON</h1>
    </header>
    <section>
        <img src="../images/Frodon.jpg" alt="Frodon" />
    <table>
         <tr>
            <td><label for="nom">nom: </label></td>
            <td><label for="nom2">Frodon Saquet</label></td>
        </tr>
        <tr>
            <td><label for="race">race:</label></td>
            <td><label for="race2">Hobbit</label></td>
        </tr>
    </table>
    </section>
    <div id="conteneur">
        <h2>histoire: </h2>
        <br>
        <textarea id="histoire" name="histoire" cols="100" rows="10">
        Frodon, fils de Drogon et Primula Saquet a été adopté par son cousin Bilbo...
        Sa mission est de transporter un anneau maléfique, appelé Anneau unique, jusqu'à Orodruin, la Montagne du Destin située en Mordor, pour le détruire, car son créateur,le Maiar Sauron, veut l'utiliser pour soumettre tous les peuples libres de la Terre du Milieu à sa volonté
        </textarea>
    </div>
    <footer>
        <ul>
            <li><a href="/views/gimli.html"><img src="../images/gimli.jpg"/>gimli</a></li>
            <li><a href="gandalf.html"><img src="../images/gandalf.jpg"/>gandalf</a></li>
            <li><a href="gollum.html"><img src="../images/gollum.jpg"/>gollum</a>a></li>
        </ul>
        <h3>Tous droits réservés</h3>
    </footer>    
</body>
</html>