<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/styles.css"/>
    <title>Fiche de Gimli</title>
</head>
<body>
    <header>
        <h1>GIMLI</h1>
    </header>
    <section>
        <img src="../images/gimli.jpg" alt="Gimli" />
    <table>
         <tr>
            <td><label for="nom">nom: </label></td>
            <td><label for="nom2">Gimli</label></td>
        </tr>
        <tr>
            <td><label for="race">race:</label></td>
            <td><label for="race2">Nain</label></td>
        </tr>
    </table>
    </section>
    <h2>histoire: </h2>
    <div id="conteneur">
        <textarea id="histoire" name="histoire" cols="100" rows="10">
        À la fin de l'an 3018, Glóin et son fils Gimli se rendent à Fondcombe, envoyés par Dain II en quête de conseils : un messager du Mordor s'est présenté en Erebor, (offrant trois des sept Anneaux de Pouvoir donnés aux nains) en échange d'informations sur Bilbon Sacquet et les Hobbits. Suite au Conseil d'Elrond, Gimli se propose pour représenter les Nains dans la Communauté de l'Anneau.
        </textarea>
    </div>
    <br>
    <footer>
        <h2>Autres personnages:</h2>
        <ul>
            <li><a href="frodon.html"><img src="../images/Frodon.jpg"/>Frodon Saquet</a></li>
            <li><a href="gandalf.html"><img src="../images/gandalf.jpg"/>gandalf</a>a></li>
            <li><a href="gollum.html"><img src="../images/gollum.jpg"/>gollum</a>a></li>
        </ul>
        <h3>Tous droits réservés</h3>
    </footer>   
</body>
</html>