<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/styles.css"/>
    <title>Fiche de Gollum</title>
</head>
<body>
    <header>
        <h1>GOLLUM</h1>
    </header>
    <section>
        <img src="../images/gollum.jpg" alt="Gollum" />
    <table>
         <tr>
            <td><label for="nom">nom: </label></td>
            <td><label for="nom2">Gollum</label></td>
        </tr>
        <tr>
            <td><label for="race">race:</label></td>
            <td><label for="race2">Hobbit de naissance</label></td>
        </tr>
    </table>
    </section>
    <h2>histoire: </h2>
    <div id="conteneur">
        <br>
        <textarea id="histoire" name="histoire" cols="100" rows="10">
        Il est dit que dans sa jeunesse, c'était un Hobbit discret et assez mauvais, détesté par sa famille.
        En 2463 TA , il s'empare de l'Anneau Unique après avoir tué son cousin Déagol qui vient de découvrir l'anneau dans le lit de l'Anduin. Chassé par sa famille, il se réfugie dans une caverne des Monts Brumeux et prend le nom « Gollum » à cause de bruits de déglutition qu'il fait avec sa gorge. Grâce à l'Anneau unique, sa vie se voit allongée de plusieurs siècles mais il est obsédé par celui-ci au point d'en devenir l'esclave.
        </textarea>
    </div>
    <footer>
        <h2>Autres personnages:</h2>
        <ul>
            <li><a href="/views/gimli.html"><img src="../images/gimli.jpg"/>gimli</a></li>
            <li><a href="gandalf.html"><img src="../images/gandalf.jpg"/>gandalf</a></li>
            <li><a href="../views/frodon.html"><img src="../images/frodon.jpg"/>Frodon Saquet</a></li>
        </ul>
        <h3>Tous droits réservés</h3>
    </footer>   
</body>
</html>